#title, #titleInfo{
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}

#titleInfo{
	justify-content: flex-start;
}

#title{
	justify-content: space-between;
}

#save, #typeDD, #categoryDD, #dependecyDD, #nameField, .delete{
	margin: 0px 5px 0px 5px;
}

.attrTypeLabelRow:nth-child(even), .attrTypeParentRow:nth-child(even){
	background: #F4F4F4;
}

#labelContent, #dependencyContent, #nameContent, #categoryContent{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: flex-start;
}

#labelContent, #dependencyContent{
	justify-content: space-between;
}

#nameContent, #categoryContent{
	justify-content: flex-start;
}

#labelTable, #dependencyTable{
	flex: 0 0 auto;
	display: flex;
	flex-direction: column;
}

.attrTypeLabelRow, .attrTypeParentRow{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}