#titleInfo {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
}

#save, #typeDD, #categoryDD, #nameField {
	margin: 0px 5px;
}

.add{
	margin-top: 5px;
}

#nameContainer, #categoryContainer, #childDependencyTable, #parentDependencyTable {
	margin: 5px;
}

.attrTypeLabelRow:nth-child(even),
.attrTypeParentRow:nth-child(even),
.attrTypeChildRow:nth-child(even) {
	background: #F4F4F4;
}

#labelContent, #parentContainer, #childContainer, #nameContainer, #categoryContainer {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: flex-start;
}

#labelContainer, #dependencyContainer, #propertiesContainer {
	margin-bottom: 5px;
}

#nameContainer, #categoryContainer {
	justify-content: flex-start;
}

#labelTable, #parentDependencyTable, #childDependencyTable {
	flex: 0 0 auto;
	display: flex;
	flex-direction: column;
}

.attrTypeLabelRow, .attrTypeParentRow, .attrTypeChildRow {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding:  5px;
}

.delete {
	margin-left: 5px;
}