.vex-theme-mx .vex-dialog-form {
    visibility: hidden;
}

.vex.vex-theme-mx .vex-content {
    transition:
        width 0.7s ease-in-out,
        max-height 2.5s ease-in-out;
    max-height: 1500px;
    overflow: auto;
}

.vex.vex-theme-mx .vex-dialog-form.visible {
    visibility: visible;
}
