.reportFields, .valuations {
    overflow: auto;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.valuations {
    margin: 5px 0 5px 0;
}

/* hidden using method from
http://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/ */
.valuations input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.uploadReport {
    display: inline-block;
}

.columns {
    position: relative;
    overflow: auto;
}

.columns h4 {
    margin: 5px 0 15px 0;
}

.addColumn {
    position: absolute;
    top: 0px;
    right: 0;
}

.removeColumn {
    float: left;
}

.unusedColumns {
    margin-bottom: 8px;
    max-width: inherit;
}

.columnOrderWrapper {
    display: flex;
    margin-bottom: 10px;
}

.reportColumns {
    min-width: 120px;
    flex-grow: 1;
}

select[size] {
    padding: 0px;
    border: none;
    overflow: auto;
    outline: none;
    height: 100%;
    background-color: #d6d6d6;
    width: 100%;
}

select[size] option {
    padding: 6px;
    padding-bottom: 4px;
}

.columnOrder {
    display: flex;
    flex-direction: column;
    flex-wrap: initial;
    width: 100%;
    max-width: 20px;
}

.columnArrow {
    background-color: #424242;
    color: white;
    display: flex;
    flex-grow: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}

.columnArrow:first-of-type {
    border-top-right-radius: 4px;
}

.columnArrow:last-of-type {
    border-bottom-right-radius: 4px;
}

.columnArrow:hover {
    background-color: #5d5d5d;
}

.columnArrow:active {
    background-color: #F49007;
}

.columnArrow span {
    display: block;
}

.saveReport {
    float: right;
}
