.exception:not(:last-child) {
    margin-bottom: 20px;
}

.exception span {
    font-weight: bold;
}

.exception-stack-calls {
    margin-left: 20px;
}

.exception-stack-call:not(:last-child) {
    margin-bottom: 10px;
}
