#minVal {
    width: 25%;
}

#maxVal {
    display: inline-block;
}

.singleControl {
    display: block;
    margin-top: 5px;
    width: 100%;
}

.level {
    display: inline-block;
}

#fixedSlider {
    width: 80%;
    margin: 0 10px;
}
