#header {
    flex: 0 0 auto;
}
#header a:hover {
    color: #F39000;
}

#header-upper {
    height: 30px;
    width: 100%;
    background-color: rgb(76, 76, 76);
}

#nav-logo {
    width: 110px;
    margin-left: 7.132704%;
    margin-top: 5px;
    display: inline-block;
}
#nav-logo img {
    width: 100%;
}

#nav-right-side {
    margin-right: 7.132704%;
    float: right;
}

#header-lower {
    background-color: rgb(0, 0, 0);
    padding-bottom: 7px;
    text-align: center;
}