.scoreIndicator {
    display: inline-block;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    vertical-align: middle;
}

.score1 {
    background-color: #06c306;
}

.score2 {
    background-color: #ecc608;
}

.score3 {
    background-color: #de5a5a;
}
