h1 {
    text-transform: uppercase;
}

.dataInput {
    width: 200px;
    height: 25px;
}

.dataDisplay {
    text-align: right;
    display: block;
    float: right;
    padding: 5px;
}

#profile {
    text-align: left;
}

#leftColumn {
    width: 48%;
}

#rightColumn {
    width: 48%;
}

#manageAdmins {
    height: 50%;
}

#manageDfp {
    height: 50%;
}

#mpAdminTableContainer td {
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#mpAdminContainer input {
	display: inline;
}

#addAdminContainer {
    float: right;
    display: inline;
}

#usersDropdown {
	margin-right: 30px;
    font-weight: normal;
    font-size: 12pt;
}

#response {
    margin-top: 10px;
    clear: right;
    float: right;
    text-align: right;
}

#addMpAdmin {
    margin-right: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

tr th:nth-child(odd),
tr td:nth-child(odd) {
    float: left;
    margin-left: 20px;
}

tr th:nth-child(even),
tr td:nth-child(even) {
    float: right;
    margin-right: 20px;
}

#controlsContainer {
    width: 100%;
    float: right;
    margin-right: 30px
}

#controlsContainer input {
    float: right;
}
