
#nav-home {
    margin-left: 0;
}

.dropdownMenu {
    list-style-type: none;
    font-size: 14px;
    font-family: 'ITCFranklinGothicStd-Book';
    display: inline-block;
    height: 20px;
}

.dropdownMenu * {
    z-index: 100;
    text-align: left;
}

.dropdownMenu ul {
    list-style: none;
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}

.dropdownMenu ul a {
    display: block;
    color: #fff;
    text-decoration: none;
    line-height: 32px;
    padding: 0 33px;
}

.dropdownMenu ul li {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}

.dropdownMenu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 33px;
    background: #424242;
    padding: 0;
    margin-top: -2px;
}

.dropdownMenu ul ul li {
    transition: all 0.3s ease;
    float:none;
    width:150px;
}

.dropdownMenu ul ul li:hover
{
    background:#000;
}

.dropdownMenu ul ul a
{
    line-height:120%;
    padding:10px 15px
}

.dropdownMenu ul ul ul {
    top: 0;
    left: 100%;
}

.dropdownMenu ul li:hover > ul {
    display: block;
}
