input[type="checkbox"] {
	margin: auto;
}

#controls {
	text-align: center;
	margin: auto;
}

#controls input {
	display: inline-block;
}

#cancelSelected {
	float: right;
	margin-bottom: 20px;
}

#response {
	margin: auto;
	text-align:center;
	margin-top: 20px;
}