#controls {
    display: inline-block;
    margin: 0 auto;
    width: 100%;
}

#controls span {
    cursor: pointer;
    margin-top: 5px;
}

#pageNum {
    margin: 2px 5px 0;
    display: inline;
}

#pageNum::-webkit-inner-spin-button,
#pageNum::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
