#revenue-buttons {
	padding: 0px;
	margin-bottom: 10px;
}

#topControls > div {
	display: inline;
}
 
#topControls input {
	display: inline;
}
 
#sliderControls #sliders {
	vertical-align: top;
}
 
#sliders {
	width: 25%;
	display: inline-block;
}
 
#chartContainer {
	width: 75%;
	height: 433px;
	display: inline-block;
}
 
#chartContainer label {
	margin-right: 10px;
}
 
#graphDD {
	margin-right: 20px;	
}
 
#adSizeDD {
	margin-bottom: 20px;
	display: inline-block;
}
 
#sliderControls #sliders .row {
	padding-bottom: 10px;	
}
 
#revenue-buttons input {
	margin-right: 20px;
	margin-top: 20px;
}