#body, #dateContainer, .attrHider{
    display: flex;
    flex-wrap: none;
    flex-direction: row;
}

#dateContainer, .attrHider{
    align-items: center;
    justify-content: space-between;
}

#dateContainer{
    width: 90%;
}

.attrHider, #hiddenSelector{
    width: 100%;
}

#hiddenSelector {
    padding: 0px 10px 0px 10px;
}

#hiddenSelector .attrHider:nth-child(odd) {
  background: #FFFFFF;
}

#catRecControls, #visibleContainer{
    display: flex;
    flex-wrap: none;
    flex-direction: column;
    align-items: center;
    background: #F4F4F4;
    height: 100%;
}

#viewButton {
    margin: 10px 0px 10px 0px;
}

#data{
    margin-left: 20px;
}

#response {
    display: flex;
    flex-wrap: none;
    flex-direction: column;
    align-items: center;
}

#data > h1{
    margin-top: 0px;
}

#attrAPARSliderTable > div > h3, #attrASARSliderTable > div > h3, #flightSliderTable > div > h3 {
    font-size: 16px;
}

#attrAPARSliderTable , #attrASARSliderTable , #flightSliderTable  {
    margin-left: 20px;
}

#visibleContainer{
    width: 100%;
}
