#marketsDropdownContainer .right {
    width: 66%;
}

#marketsDropdownContainer .right select {
    width: 100%;
}

.queryRow {
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;
}

#minImpressions p {
	width: 66%;
}

#minimum {
	width: 100%;
    text-align: right;
    outline-color: rgb(244, 144, 7);
    background: #D6D6D6;
    border: 0;
    margin-bottom: 10px;
    padding: 3px;
}