#titleBar, #titleBar > div, #mainBody, #bodyTableContainer > div, #sectionTableContainer > div {
    display: flex;
    flex-direction: row;
}

#titleBar, #titleBar > div, #bodyTableContainer > div, #sectionTableContainer > div {
    justify-content: space-between;
    align-items: center;
}

#mainBody {
    justify-content: flex-start;
    align-items: flex-start;
}

#tableContainers {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#sectionTableContainer, #response {
    margin-top: 10px;
}

#bodyAddButton, #sectionAddButton {
    margin-right: 10px;
}

#bodyTableContainer > div, #sectionTableContainer > div {
    margin-bottom: 10px
}

#bodyTableContainer > div > h2, #sectionTableContainer > div > h2 {
    margin-bottom: 0px;
}

#rateCardDD {
    margin-left: 10px;
    font-size: 18px;
}
