 #sideBar {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 250px;
    background-color: #efefef;
}

#sideLogo {
    text-align: center;
}

#nameFields {
    padding: 10px;
}

#nameFields label {
    font-weight: bold;
}

#nameFields input[type=text] {
    width: 100%;
}