#titleBar, #titleInfo, #buttonBar, #unitTypeTableContainer, #groupingAttributeTypeContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
}

#titleInfo {
	justify-content: flex-start;
}

#titleBar {
	justify-content: space-between;
}

#save {
	margin-right: 10px;
}

#addButton, #response {
	margin-top: 10px;
}

#unitTypeGroupDD, #unitTypeTable, #attrTypeDD {
	margin-left: 5px;
}

#unitTypeAdder {
    align-self: flex-start;
}

#unitTypeGroupDD {
    font-size: 18pt;
}
