.status input {
	display:inline;
}

.password input[type="password"] {
	width: 100%;
}

#statusContainer .right {
    margin-left: 10px;
}

#save {
    margin: 10px 10px;
}

#userTeamsTable {
	width: 70%;
}

#userRole {
	width: 70%;
	text-align: left;
}